export(load_delegations)
export(load_gouvernorats)
export(load_national)
export(load_secteurs)
export(download_secteurs)
export(get_delegation)
export(get_gouvernorat)
export(get_secteur)
export(get_region)
export(search_indicator)
export(list_indicators)
export(codebook)
export(gini)
export(theil_decompose)
importFrom(utils,read.csv,download.file)
